.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 700;
}
.menu{
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.header a{
    text-decoration: none;
    color: white;
}